<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-4">
		<div class="h1 text-center mb-4">List apartment</div>
		<div class="text-center w-50 m-auto">
			<form th:action="search" >
				<div class="input-group ">
					<input type="text" class="form-control border-right-0" id="search"
						placeholder="Search" name="searchKeyword">
					<button class="input-group-text border-left-0 bg-white" id="search"
						type="submit" style="border-radius: 0 .25rem .25rem 0;">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path
								d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                          </svg>
					</button>
				</div>
			</form>
		</div>


	</div>
	<div class="container mt-4">
		<table class="table table-bordered ">
			<thead class="table-light text-center">
				<tr>
					<th scope="col">ID Apartment</th>
					<th scope="col">Floor</th>
					<th scope="col">Number of rooms</th>
					<th scope="col">ID Homeowner</th>
					<th scope="col">Area</th>
					<th scope="col">Apartment number</th>
				</tr>
			</thead>
			<tbody th:each="a : ${listApartment}">
				<tr>
				<td th:text="${a.ID_Apartment}"></td>
					<!-- <td th:text="${a.ID_Apartment}"></td>
					<td th:text="${a.Floor}"></td>
					<td th:text="${a.Number_of_rooms}"></td>
					
					<td th:text="${a.}"></td>
					<td th:text="${a.}"></td>
					<td th:text="${a.Area}"></td>
					<td th:text="${a.Apartment_number}"></td> -->
				</tr>
			</tbody>
		</table>
		<!-- Phân trang -->
		<div class="text-right">
			<span th:if="${currentPage > 1}"> <a
				th:href="@{${path}(page=${currentPage - 1}, searchKeyword=${searchKeyword})}">Previous</a>
			</span> <span th:if="${currentPage <= 1}"> Previous </span> <span
				th:each="i : ${#numbers.sequence(1, totalPages)}"> <span
				th:if="${currentPage == i}"> <span th:text="${i}"></span>
			</span> <span th:if="${currentPage != i}"> <a
					th:href="@{${path}(page=${i}, searchKeyword=${searchKeyword})}"
					th:text="${i}"></a>
			</span>
			</span> <span th:if="${currentPage < totalPages}"> <a
				th:href="@{${path}(page=${currentPage + 1}, searchKeyword=${searchKeyword})}" >Next</a>
			</span> <span th:if="${currentPage >= totalPages}"> Next </span>
		</div>
	</div>

</body>
</html>