<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>Document</title>
</head>

<body th:fragment="header">
	<header class="d-flex py-2">
		<div class="Icon col-2 nav-link">
			<span class="text-danger">/</span> <span>B l u e H o u s e</span>
		</div>
		<div class="col-8 d-flex justify-content-center">
			<ul class="nav">
				<li class="nav-item"><a class="nav-link" href="#">Ban Quản
						Lý</a></li>

				<li class="nav-item"><a class="nav-link" href="#">Ban Quản
						Trị</a></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
						Dropdown </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/createresident">Create Resident</a>
						 <a class="dropdown-item" href="/showlistresident">List Resident</a>
						 <a class="dropdown-item" href="/createposition">Create Position</a>
						 <a class="dropdown-item" href="/showlistposition">List Position</a>
						  <a class="dropdown-item" href="/createadminis">Create Adminis</a>
						 <a class="dropdown-item" href="/showlistadminis">List Adminis</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div></li>

				<li class="nav-item"><a class="nav-link" href="#">Kế hoạch & Thông báo</a></li>
			</ul>
		</div>
		<div class="col-2 d-flex align-items-center justify-content-center">
			<i class="fa-regular fa-bell bell mr-3"></i>
			<button type="button" class="btn btn-secondary">Sign Out</button>
		</div>
	</header>
</body>

</html>