<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body th:fragment="pageAble">
	<!-- Phân trang -->
	<div class="float-right mr-3">
		
			<ul class="pagination">
				
				<li class="page-item " th:if="${currentPage > 1}">
					<a class="page-link"
						th:href="@{${path}(page=${currentPage - 1}, searchKeyword=${searchKeyword})}">Previous</a>
				</li>
				<span th:each="i : ${#numbers.sequence(1, totalPages)}">
					<li class=" " th:if="${currentPage == i-1}"><a class="page-link" th:href="@{${path}(page=${i}, searchKeyword=${searchKeyword})}" th:text="${i}"></a></li>
					<li class="  " th:if="${currentPage == i}" style="border-radius: 0;"><a class="page-link bg-primary text-white" href="#" th:text="${i}"></a></li>
					<li class=" " th:if="${currentPage == i+1}"><a class="page-link" th:href="@{${path}(page=${i}, searchKeyword=${searchKeyword})}" th:text="${i}"></a></li>		
				</span>
				<li class="page-item" th:if="${currentPage < totalPages}">
					<a class="page-link"
						th:href="@{${path}(page=${currentPage + 1}, searchKeyword=${searchKeyword})}">Next</a>
				</li>
				
			</ul>
		
	</div>
	
</body>

</html>