<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="ISO-8859-1">
<title>List Apartment Bill</title>
</head>

<body layout:fragment="content" > 
<div class="m-5">
	<div class="d-flex justify-content-between">
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
			<form class="d-flex" action="/ExpenseBill/searchexpensedetail" method="GET">
				<input class="form-control me-2" type="text" name="searchKeyword" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<div class="d-flex justify-content-end">
	<a th:href="@{/ExpenseBill/createdetail}"
					target="blank">
   <button class="btn btn-primary m-2" type="submit">Create BillDetail</button></a>
	</div>
	</div>
	<h1>List ExpenseBill</h1>
	<div class="table-responsive tableFixHead border-right border-left border-bottom">
	<table class="table">
		<thead class="table-dark">
			<tr>
				<th scope="col">ID ExpenseDetail</th>
				<th scope="col">ID ExpenseBill</th>
				<th scope="col">Name Expense</th>
				<th scope="col">Quantity</th>
				<th scope="col">Price</th>
				<th scope="col">Active</th>
			</tr>
		</thead>
		<tbody th:each="bill : ${listexpendetail}">
			<tr>
				<td th:text="${bill.idexpenDetail}"></td>
				<td th:text="${bill.idExpenseBill.idExpenseBill}"></td>
				<td th:text="${bill.nameExpense}"></td>
				<td th:text="${bill.quantity}"></td>
				<td th:text="${bill.price}"></td>
				<td> 
				<a th:href="@{/ExpenseBill/editdetail(iddetail=${bill.idexpenDetail})}"
					target="blank"><i class="fa-solid fa-pen-to-square"></i></a>
				<a th:href="@{/ExpenseBill/deletedetail(iddetail=${bill.idexpenDetail})}"
					target="blank"><i class="fa-solid fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div th:replace="~{@{layout/page} :: pageAble}" ></div>
	</div>
</body>

</html>