<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        </style>

<script src="../js/jquery-3.7.1.min.js"></script>
</head>
<body>
    <div class="container bg-light shadow">
        <div class="h1 text-center mt-3 mb-2"><span>Thêm mới tài sản</span></div>
        <div class="d-flex justify-content-between">
            <div class="container">
                <form>
                    <div class="row">
                   <div class="form-group col-6">
                        <label for="assetId" class="font-weight-bold ml-2">ID</label>
                        <input type="text" class="form-control" id="assetId" placeholder="AS001" maxlength="5">
                    </div>
                    <div class="form-group col-6">
                        <label class="font-weight-bold ml-2" for="assetQuantity">Số lượng</label>
                        <input type="number" class="form-control" id="assetQuantity" placeholder="" value="1" min="1">
                    </div>
                    <div class="form-group col-12">
                        <label class="font-weight-bold ml-2" for="assetName">Tên tài sản</label>
                        <input type="text" class="form-control" id="assetName" placeholder="Bóng đèn">
                    </div>
                    <div class="form-group col-12">
                        <label class="font-weight-bold ml-2" for="assetLocation">Vị trí</label>
                        <input type="text" class="form-control" id="assetLocation" placeholder="Khu A - Tầng 3">
                    </div>
                   
                    <div class="form-group col-6">
                        <label class="font-weight-bold ml-2" for="assetManager">Người quản lý</label>
                        <input type="text" class="form-control" id="assetManager" placeholder="QL001 - Nguyễn Văn C" disabled>
                    </div>
                    <div class="form-group col-6">
                        <label class="font-weight-bold ml-2" for="assetPrice">Giá</label>
                        <input type="number" class="form-control" id="assetPrice" placeholder="Nhập giá tài sản">
                    </div>
                </div>
                    <div class="form-group justify-content-end d-flex">
                        <button type="submit" class="btn btn-primary">Đăng ký</button>
                        <button type="button" class="btn btn-secondary ml-2">Hủy bỏ</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>