<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="ISO-8859-1">
<title>List Income Bill</title>
</head>

<body layout:fragment="content" > 
<div class="m-5">
<h1>List Income Bill</h1>
	<div class="d-flex justify-content-between">
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
			<form class="d-flex" action="/IncomeBill/searchIncobill" method="GET">
				<input class="form-control me-2" type="text" name="searchKeyword" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<div class="d-flex justify-content-end">
	<a th:href="@{/IncomeBillDetail/createBillDetail}"
					target="blank">
   <button class="btn btn-primary m-2" type="submit">Create BillDetail</button></a>
   <a th:href="@{/IncomeBill/createapartmentbill}"
					target="blank">
   <button class="btn btn-primary m-2" type="submit">Create IncomeBill</button></a>
	</div>
	</div>
	
	<div class="table-responsive tableFixHead border-right border-left border-bottom">
	<table class="table">
		<thead class="table-dark">
			<tr>
				<th scope="col">ID IncomeBill</th>
				<th scope="col">ID Aparment</th>
				<th scope="col">Bill Date</th>
				<th scope="col">Paymen Date</th>
				<th scope="col">Employee</th>
				<th scope="col">Status</th>
				<th scope="col">Total</th>
				<th scope="col">Detail</th>
				<th scope="col">Pay Bill</th>
			</tr>
		</thead>
		<tbody th:each="bill : ${listapartmentbill}">
			<tr>
				<td th:text="${bill.idIncomeBill}"></td>
				<td th:text="${bill.idApartment.idApartment}"></td>
				<td th:text="${bill.billDate}"></td>
				<td th:text="${bill.paymentDate}"></td>
				<td th:text="${bill.idEmployee != null ? bill.idEmployee.fullName : ' '}" ></td>
				<td th:text="${bill.status}"></td>
				<td th:text="${bill.getTotalbill}"></td>
				<td> <a th:href="@{/IncomeBillDetail/showlishtdetail(idbill=${bill.idIncomeBill})}"
					target="blank"><i class="fa-solid fa-calendar-week"></i></a></td>
				<td> <a th:href="@{/IncomeBill/paybill(idbill=${bill.idIncomeBill})}" th:if="${bill.paymentDate == null && bill.getTotalbill != 0}"
					target="blank" ><i class="fa-solid fa-file-invoice-dollar" ></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div th:replace="~{@{layout/page} :: pageAble}" ></div>
	</div>
</body>

</html>