<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8" />
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/employee/css/list.css}">
</head>

<body layout:fragment="content">
	<div class="container mt-4">
		<div class="h1 text-center mb-4">
			<a href="list" class="text-decoration-none">Ban Quản Lý</a>
		</div>

		<div class="text-center d-flex justify-content-between">
			<form class="col-3">
				<div class="input-group">
					<input class="form-control search" placeholder="Search" name="searchKeyword" />
					<button class="input-group-text search-icon" type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</div>
			</form>

			<button type="button" class="btn btn-info">+ Thêm Mới</button>
		</div>
		<!-- tabs -->
		<ul class="nav nav-tabs mt-4">
			<li class="nav-item">
				<a onclick="openCity(event, 'Services')" class="nav-link tablinks active">Services</a>
			</li>
			<li class="nav-item">
				<a onclick="openCity(event, 'Engineering')" class="nav-link tablinks">Engineering</a>
			</li>
			<li class="nav-item">
				<a onclick="openCity(event, 'Environment')" class="nav-link tablinks">Environment</a>
			</li>
		</ul>

		<div id="Services" class="tabcontent">
			<div class="table-responsive tableFixHead border-right border-left">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">ID Nhân Viên</th>
							<th scope="col">Tên Nhân Viên</th>
							<th scope="col">CCCD</th>
							<th scope="col">Ngày Sinh</th>
							<th scope="col">Giới Tính</th>
							<th scope="col">Quê Quán</th>
							<th scope="col">Chức Vụ</th>
							<th scope="col">SĐT</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody th:each="emp : ${listEmp}">
						<tr th:if="${emp.office == 'Services'}">
							<td th:text="${emp.employeeID}"></td>
							<td th:text="${emp.name}"></td>
							<td th:text="${emp.CCCD}"></td>
							<td th:text="${emp.dateOfBirth}"></td>
							<td th:text="${emp.gender}"></td>
							<td th:text="${emp.areaBorn}"></td>
							<td th:text="${emp.duty}"></td>
							<td th:text="${emp.phoneNumber}"></td>
							<td>
								<a target="blank">
									<i class="fa-solid fa-pen-to-square pencil"></i>
								</a>
								<a target="blank">
									<i class="fa-solid fa-trash trash"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div id="Engineering" class="tabcontent" style="display: none;">
			<div class="table-responsive tableFixHead border-right border-left">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">ID Nhân Viên</th>
							<th scope="col">Tên Nhân Viên</th>
							<th scope="col">CCCD</th>
							<th scope="col">Ngày Sinh</th>
							<th scope="col">Giới Tính</th>
							<th scope="col">Quê Quán</th>
							<th scope="col">Chức Vụ</th>
							<th scope="col">SĐT</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody th:each="emp : ${listEmp}">
						<tr th:if="${emp.office == 'Engineering'}">
							<td th:text="${emp.employeeID}"></td>
							<td th:text="${emp.name}"></td>
							<td th:text="${emp.CCCD}"></td>
							<td th:text="${emp.dateOfBirth}"></td>
							<td th:text="${emp.gender}"></td>
							<td th:text="${emp.areaBorn}"></td>
							<td th:text="${emp.duty}"></td>
							<td th:text="${emp.phoneNumber}"></td>
							<td>
								<a target="blank">
									<i class="fa-solid fa-pen-to-square pencil"></i>
								</a>
								<a target="blank">
									<i class="fa-solid fa-trash trash"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div id="Environment" class="tabcontent" style="display: none;">
			<div class="table-responsive tableFixHead border-right border-left">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">ID Nhân Viên</th>
							<th scope="col">Tên Nhân Viên</th>
							<th scope="col">CCCD</th>
							<th scope="col">Ngày Sinh</th>
							<th scope="col">Giới Tính</th>
							<th scope="col">Quê Quán</th>
							<th scope="col">Chức Vụ</th>
							<th scope="col">SĐT</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody th:each="emp : ${listEmp}">
						<tr th:if="${emp.office == 'Environment'}">
							<td th:text="${emp.employeeID}"></td>
							<td th:text="${emp.name}"></td>
							<td th:text="${emp.CCCD}"></td>
							<td th:text="${emp.dateOfBirth}"></td>
							<td th:text="${emp.gender}"></td>
							<td th:text="${emp.areaBorn}"></td>
							<td th:text="${emp.duty}"></td>
							<td th:text="${emp.phoneNumber}"></td>
							<td>
								<a target="blank">
									<i class="fa-solid fa-pen-to-square pencil"></i>
								</a>
								<a target="blank">
									<i class="fa-solid fa-trash trash"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- tabs end -->
	</div>

	<script th:src="@{/employee/js/list.js}"></script>
</body>

</html>