<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
	<title>Insert title here</title>
	<script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
</head>

<body layout:fragment="content">
	<div class="text-center pt-5">
		<h1>Tạo Thông Báo</h1>
	</div>
	<form method="post" action="save" class="container" th:object="${Notification}">
		<div class="row form-group mt-3 justify-content-center">
			<div class="col-10">
				<label for="username" class="h5">Tiêu Đề</label>
				<input th:field="*{title}" class="form-control" id="username" placeholder="Input Tiêu Đề" />
			</div>
		</div>

		<div class="row form-group mt-3 justify-content-center">
			<div class="col-10">
				<label for="content" class="h5">Nội Dung</label>
				<textarea id="contentNoti" placeholder="Content" class="form-control" th:field="*{contentNoti}" autocomplete="off"></textarea>
			</div>
		</div>

		<div class="row form-group mt-3 justify-content-center">
			<div class="col-10">
				<input type="file" id="inputGroupFile01" />
			</div>
		</div>
		
		<div class="form-group mt-3 d-flex flex-row-reverse">
			<button type="submit" class="btn btn-warning px-5">Chọn người nhận</button>
		</div>
	</form>

<script type="text/javascript">
	ClassicEditor.create(document.querySelector("#contentNoti")).catch((error) => {
	  console.error(error);
	});
</script>

</body>

</html>