<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8" />
	<title>Account Management</title>
</head>

<body layout:fragment="content">
	<form id="form-data" class="mt-5" th:action="save" method="post" th:object="${account}">
		<div class="container p-3 border">
			<h1 class="text-center pb-3">Add New Account</h1>

			<div class="row pb-2 d-flex justify-content-around">
				<div class="col-5">
					<label for="username" class="form-lable">User Name</label>
					<input type="text" th:field="*{username}" id="username" class="form-control" placeholder="User Name" />
					<div class="error-message text-danger pt-1"></div>

					<div class="error-message text-danger pt-3">
						<span id="idEmp-error"></span>
					</div>
				</div>

				<div class="col-5">
					<label for="password" class="form-lable">Pass World</label>
					<input type="text" th:field="*{password}" id="password" class="form-control" placeholder="Pass World" />
					<div class="error-message text-danger pt-3">
						<span id="name-error"></span>
					</div>
				</div>
			</div>

			<div class="row pb-2 d-flex justify-content-around">
				<div class="col-5">
					<label for="role" class="form-lable">Role</label>
					<select id="role" th:field="*{role}" class="form-control" required>
						<option value="1">ADMIN</option>
						<option value="2">MANAGE</option>
						<option value="3">RESIDENT</option>
						<option value="4">EMPLOYEE</option>
					</select>

					<div class="error-message text-danger pt-3">
						<span id="office-error"></span>
					</div>
				</div>

				<div class="col-5">
					<label for="active" class="form-lable">Active</label>
					<select id="active" th:field="*{active}" class="form-control" required>
						<option value="0">Non-Active</option>
						<option value="1">Active</option>
					</select>

					<div class="error-message text-danger pt-3">
						<span id="active-error"></span>
					</div>
				</div>
			</div>

			<div class="row pb-2 d-flex justify-content-around">
				<div id="div-resident" class="col-5" th:object="${resident}">
					<label for="idResi" class="form-lable">ID Resident</label>

					<select id="idResi" th:field="*{idResident}" class="form-control">
						<option th:each="resi : ${listReci}" th:value="${resi.idResident}" th:text="${resi.idResident}"></option>
					</select>
				</div>

				<div id="div-employee" class="col-5" th:object="${employee}">
					<label for="idEmp" class="form-lable">ID Employee</label>

					<select id="idEmp" th:field="*{employeeID}" class="form-control">
						<option th:each="emp : ${listEmp}" th:value="${emp.employeeID}" th:text="${emp.employeeID}"></option>
					</select>
				</div>
			</div>

			<div class="d-flex justify-content-end">
				<button onclick="validate(event)" class="btn btn-success col-2" type="submit">
					Create
				</button>

				<button id="cancel" class="btn btn-secondary col-2 ml-2" type="reset">
					Cancel
				</button>

				<button onclick="window.location.href='list';" class="btn btn-secondary col-2 ml-2" type="reset">
					Back
				</button>
			</div>
		</div>
	</form>

	<script th:src="@{/Account/js/update.js}"></script>
</body>

</html>