<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="ISO-8859-1">
<title>List Apartment Bill</title>
</head>

<body layout:fragment="content" > 

<div class="m-5">
	<div class="d-flex justify-content-between">
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
			<form class="d-flex" action="/IncomeBillDetail/searchIncobilldetail" method="GET">
				<input class="form-control me-2" type="text" name="searchKeyword" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<div sec:authorize="hasRole('MANAGE') or hasRole('EMPLOYEE')" class="d-flex justify-content-end">
	<a th:if="${IncomeBill!=null && IncomeBill.paymentDate==null}" th:href="@{/IncomeBillDetail/paymentvehicle(idinbill=${IncomeBill.idIncomeBill})}"
					target="blank">
   <button class="btn btn-primary m-2" type="submit">Payment Vehicle Fees</button></a>
   <a th:if="${IncomeBill==null}" th:href="@{/IncomeBillDetail/createBillDetail}" target="blank">
   <button class="btn btn-primary m-2" type="submit">Create BillDetail</button></a>
   <a th:if="${IncomeBill!=null && IncomeBill.paymentDate==null}" th:href="@{/IncomeBillDetail/createBillDetail(idinbill=${IncomeBill.idIncomeBill})}"
					target="blank">
   <button class="btn btn-primary m-2" type="submit">Create BillDetail</button></a>
	</div>
	
	
	</div>
	<h1>List Bill Detail</h1>
	<span>ID IncomeBill: <span th:if="${IncomeBill!=null}" th:text="${IncomeBill.idIncomeBill }"></span></span>
	<span class="ml-5">ID Apartment: <span th:if="${apartment!=null}" th:text="${apartment.idApartment}"></span> </span>
	<div class="table-responsive tableFixHead border-right border-left border-bottom">
	<table class="table">
		<thead class="table-dark">
			<tr>
				<th scope="col">ID BillDetail</th>
				<th scope="col">ID IncomeBill</th>
				<th scope="col">FeeType</th>
				<th scope="col">Quantity</th>
				<th scope="col">Price</th>
				<th scope="col">Total</th>
				<th sec:authorize="hasRole('MANAGE') or hasRole('EMPLOYEE')" scope="col">Act</th>
			</tr>
		</thead>
		<tbody th:each="detail : ${listDetail}">
			<tr>
				<td th:text="${detail.idbilldetail}"></td>
				<td th:text="${detail.idIncomeBill.idIncomeBill}"></td>
				<td th:text="${detail.idfeetype.nameFeetype}"></td>
				<td th:text="${detail.quantity}"></td>
				<td th:text="${detail.price}"></td>
				<td th:text="${detail.price} * ${detail.quantity}"></td>
				<td sec:authorize="hasRole('MANAGE') or hasRole('EMPLOYEE')"><a th:if="${IncomeBill!=null && IncomeBill.paymentDate==null}"
					th:href="@{/IncomeBillDetail/editdetail(iddetail=${detail.idbilldetail})}"
					target="blank"><i class="fa-solid fa-pen-to-square"></i></a> <a 
					th:if="${IncomeBill!=null && IncomeBill.paymentDate==null}"
					th:href="@{/IncomeBillDetail/deletedetail(iddetail=${detail.idbilldetail})}"
					target="blank"><i class="fa-solid fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div th:replace="~{@{layout/page} :: pageAble}" ></div>
	</div>
</body>

</html>