<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body layout:fragment="content">
    <div class="container-fluid bg-primary">
        <div class="h5 text-red">Blue house EXE</div>
        <a href="/listresident">List Resident</a>
        <a href="/showrentalSpaContracs">List respacon</a>

    </div>
</body>

</html>