<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body layout:fragment="content">
	<div class="container mt-3"><h1 class="text-primary text-center">List Vehicle Registration</h1></div>
	<nav class="navbar navbar-light bg-light">
			<div class="container-fluid">
				<form class="d-flex" action="/vehicleRegistration/search" method="GET">
					<input class="form-control me-2" type="text" name="searchKeyword"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
				<a href="add"><button type="button"
						class="btn btn-success mr-5 ">ADD</button></a>
			</div>
		</nav>
	
	<div class="ml-5 mr-5 mt-3">
		<table class="table ">
			<thead class="thead-dark">
				<tr>
					<th scope="col">idVehicle</th>
					<th scope="col">vehicleNumber</th>
					<th scope="col">registrationDate</th>
					<th scope="col">expirationDate</th>
					<th scope="col">feeTypeCode</th>
					<th scope="col">apartmentVE</th>
					<th scope="col">Active</th>
				</tr>
			</thead>
			<tbody th:each="vehicleregi : ${listVehicleRegistration}">

				<tr>
					<td th:text="${vehicleregi.idVehicle}"></td>
					<td th:text="${vehicleregi.vehicleNumber}"></td>
					<td th:text="${vehicleregi.registrationDate}"></td>
					<td th:text="${vehicleregi.expirationDate}"></td>
					<td th:text="${vehicleregi.feeTypeCode.nameFeetype}"></td>
					<td th:text="${vehicleregi.apartmentVE.apartmentNumber}"></td>
					<td><a
						th:href="@{edit(idvehicle=${vehicleregi.idVehicle})}"
						target="blank"><i class="fa-solid fa-pen-to-square"></i></a> <a
						th:href="@{delete(idvehicle=${vehicleregi.idVehicle})}"
						target="blank"><i class="fa-solid fa-trash"></i></a></td>
				</tr>
			</tbody>
		</table>
		<div th:replace="@{layout/page} :: pageAble"></div>
	</div>
</body>
</html>