<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add New Apartment Transfer History</title>
</head>
<body layout:fragment="content">
	<div class="container">
        <form th:action="add" th:object="${formApartmentTransfer}" method="post">
            <div class="h2 text-center mt-2">Add new</div>
            <div class="form-group">
                <label class="ml-2" >ID Contract</label>
                <input type="text" class="form-control" id="contractId" name="contractId"  th:field="*{idContract}" required>
            </div>
            <div class="form-group">
                <label class="ml-2" >ID Old Homeowner</label>
                <input type="text" class="form-control" id="homeownerId" name="homeownerId"  th:field="*{idResident}" readonly >
            </div>
            <div class="form-group">
                <label class="ml-2" >ID New Homeowner</label>
                <input type="text" class="form-control" id="newHomeowner" name="newHomeowner" th:field="*{newHomeowner}" required>
            </div>
            <div class="form-group">
                <label class="ml-2" >ID Apartment</label>
                <select  type="text" class="form-control" id="apartmentId" name="apartmentId" th:field="*{apartmentTransfer}" required>
                    <option hidden th:value = "null" >--Select apartment--</option>
                    <!-- <option th:each="a : ${apartments}" th:value="${a.idApartment}" th:text="${a.apartmentNumber + ' - ' + a.idHomeowner}"> -->
                    <option th:each="a : ${apartments}" th:value="${a.idApartment}" th:text="${a.apartmentNumber}">
                    </option>
                </select >
                
            </div>

            <div class="Apt-arr" th:each="a : ${apartments}">
                <input type="hidden" class="idApartment" th:value="${a.idApartment}" >
                <input type="hidden" class="idHomeowner" th:value="${a.idHomeowner}">
            </div>

            <div class="form-group">
                <label class="ml-2" for="apartmentId">Transfer date</label>
                <input type="date" class="form-control" id="transferDate" name="transferDate" th:field="*{transferDate}" required>
            </div>
            <div class="form-group">
                <label class="ml-2" for="apartmentId">ID manager</label>
                <select type="text" class="form-control" id="managerId" name="managerId" th:field="*{managerCodeTransfer}" required>
                    <option hidden disabled value="null">--Select manager--</option>
                    <option th:each="e : ${listAdministrator}" th:value="${e.employeeID}" th:text="${e.name}">
                </select >
            </div>
            <div class="form-group mt-3 w-25 float-right d-flex">
                <a href="list" class="btn btn-secondary w-100" > <span class="h5">Cancel</span></a>
                <button type="submit" class="btn btn-primary w-100 ml-3" > <span class="h5">OK</span></button>
               
            </div>
        </form>
    </div>
    <script th:src="@{/ApartmentTransferHistory/js/ApartmentTransferHistory.js}"></script>

</body>
</html>